{% extends "pretixcontrol/auth/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="form-signin" action="" method="post">
        <h3>{% trans "Hello!" %}</h3>
        <p>
            {% blocktrans trimmed with a_attr="href='http://allstartix.tech'" %}
                This is the Production installation of <a {{ a_attr }}>AllStarTix, NextGen event management & ticket sales
                platform</a>.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                If you're looking to buy a ticket, please simply follow a direct link to an event or organizer profile.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with a_attr="href='/control/'" %}
                If you're looking for your organizer signin page, please <a {{ a_attr }}>click here</a>.
            {% endblocktrans %}
        </p>
        <p>{% trans "Enjoy!" %}</p>
    </div>
{% endblock %}
